.note-btn-group * {
  color: black;
}

.note-editable {
  color: black !important;
  background-color: #2f855a;
  text-align: left !important;
}

.note-editable * {
  color: black !important;
}

.note-modal-content * {
  color: black !important;
}

.note-toolbar {
  background-color: #2f855a;
  border: 0;
}

.note-btn {
  background-color: #2f855a;
  border: 0;
  color: white;
}
.note-editor.note-airframe,
.note-editor.note-frame {
  border-color: #2f855a;
}

.note-editor {
  margin: auto;
}

@media screen and (max-width: 900px) {
  .note-editor {
    width: 80%;
  }
}
