:root {
  --themePrimary: #fff;
  --themeSecondary: #064e3b;
  --themeHelper: #f3f4f6;
  --primaryColor: #fff;
  --primaryHelper: #f3f4f6;
}
hr {
  border-color: #2f855a !important;
}
* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: var(--themePrimary);
  font-size: 1.25rem !important;
  font-weight: 400 !important;
}

html {
  font-size: 125% !important;
}

body {
  background-color: var(--themeSecondary);
}

a {
  text-decoration: none;
  user-select: none;
}

*::-webkit-scrollbar {
  width: 0.4rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--themePrimary);
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-button {
  background: transparent;
}

button {
  background-color: transparent;
  border: 0;
}

.form {
  height: fit-content;
  width: fit-content;
}

.input {
  margin-bottom: 1rem;
  border: 0px;
  height: 2rem;
  width: 17rem;
  text-align: center;
  display: block;
  color: var(--themePrimary);
  background-color: transparent;
  font-size: 1rem;
  border-bottom: 1px solid var(--themePrimary);
  transition: 0.4s;
  border-radius: 0.1rem;
  text-decoration: none;
}

.centeredHorizontally {
  margin-left: auto;
  margin-right: auto;
}

.input:focus {
  outline: none;
  border-color: #0c8162;
}

.btn {
  height: fit-content;
  width: fit-content;
  border-radius: 0.25rem;
  border: 0px;
  transition: 0.25s;
  font-weight: 500;
  cursor: pointer;
  font-size: 0.9rem;
  text-align: center;
  margin: 0rem 0.25rem;
}

.btnLink,
.btnPrimary {
  background-color: transparent;
}

.btnLink:hover,
.btnPrimary:hover {
  color: var(--themeHelper);
}

.textPrimary {
  color: var(--primaryColor);
  transition: 0.25s;
}

.textPrimary:hover {
  color: var(--primaryHelper);
}

.errorMessage,
.formPost {
  text-align: center;
  margin-top: 6rem;
}

.textCenter {
  text-align: center;
}

#btnAdminPanel {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

@media screen and (max-width: 600px) {
  body {
    max-width: 100% !important;
  }

  .navbar * {
    width: 100% !important;
  }
}
