{% extends 'layout.html'%} {%block head%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/adminPanel.css') }}"
/>
{% endblock head %} {%block body%}
<hr />
<div class="usersContainer">
  {% for user in users %}
  <div class="userContainer">
    <section class="stats">
      <p><span class="emoji">🏆</span> {{user[0]}}</p>
      {% if user[5] != "admin" %}
      <p><span class="emoji">🪑</span> {{user[5]}}</p>
      {% endif %}
    </section>
    <section class="stats">
      <p>
        <span class="emoji">🔭</span>
        <a href="/user/{{user[1].lower()}}" class="textPrimary">{{user[1]}}</a>
      </p>
      <img src="{{user[4]}}" alt="{{user[1]}}" class="picture" />
    </section>
    <section class="stats">
      <p><span class="emoji">📱</span> {{user[2]}}</p>
      <p><span class="emoji">🛹</span> {{user[6]}}</p>
    </section>
    <section class="stats">
      <p><span class="emoji">📍</span> {{user[7]}}</p>
      <p><span class="emoji">⌚</span> {{user[8]}}</p>
    </section>
    <section class="stats">
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="userName" value="{{user[1]}}" />
        <button
          type="submit"
          name="userDeleteButton"
          class="textPrimary deleteUserButton"
        >
          <span class="emoji">💣</span>
        </button>
      </form>
      {% if user[5] == "admin" %}{% else %}
      <a href="/setuserrole/{{user[1].lower()}}/admin" class="textPrimary"
        >set role to admin</a
      >
      {% endif %}
    </section>
  </div>
  <hr />
  {% endfor %}
</div>
<a href="/admin" class="btn btnLink textPrimary" id="btnAdminPanel"
  ><span class="emoji">↩️</span></a
>
{% endblock body %}
