{% extends 'layout.html'%} {%block head%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/adminPanel.css') }}"
/>
{% endblock head %} {%block body%}
<div class="toPanelsContainer">
  <h1>
    <a href="admin/users" class="toPanel textPrimary"
      ><span class="emoji">🔭</span></a
    >
  </h1>
  <h1>
    <a href="admin/posts" class="toPanel textPrimary"
      ><span class="emoji">📃</span></a
    >
  </h1>
  <h1>
    <a href="admin/comments" class="toPanel textPrimary"
      ><span class="emoji">🩺</span></a
    >
  </h1>
</div>

{% endblock body %}
