{% extends 'layout.html'%} {%block head%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/dashboard.css') }}"
/>
{% endblock head %} {%block body%}
<h1 class="textCenter">Comments</h1>
{% for comment in comments %}
<div class="post centeredHorizontally">
  <h3>
    🆔
    <a class="title textPrimary" href="/post/{{comment[0]}} ">{{comment[1]}}</a>
  </h3>
  <div class="content" tag="content">{{comment[2]}}</div>
  <section>
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <input type="hidden" name="commentID" value="{{comment[0]}}" />
      <button
        type="submit"
        name="commentDeleteButton"
        class="btn btnLink textPrimary"
      >
        💣
      </button>
    </form>
  </section>
  <div class="info">
    <p>📍 {{comment[5]}}</p>
    <p>⌚ {{comment[4]}}</p>
  </div>
  {% if request.path == "/admin/comments" %}
  <p>
    🪪
    <a href="/user/{{comment[3].lower()}}" class="textPrimary"
      >{{comment[3]}}</a
    >
  </p>
  {% endif %}
</div>
{% endfor %} {% if request.path == "/admin/comments" %}
<a
  href="/admin"
  class="btn btnLink textPrimary goBackToAdmin"
  id="btnAdminPanel"
  >↩️</a
>
{% endif %} {% endblock body %}
