{% extends 'layout.html'%} {%block head%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/submit.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/changeProfilePicture.css') }}"
/>
{% endblock head %} {%block body%}
<div class="container">
  <div class="seedForm">
    <form method="post" class="form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      {{form.newProfilePictureSeed(class_="input")}}
      <button type="submit" class="btn btnPrimary">
        set profile picture
      </button>
    </form>
  </div>
</div>
{% endblock body %}
