{% extends 'layout.html'%} {%block head%} {% endblock head %} {%block body%}
<div class="container">
  <form method="post" class="form formPost centeredHorizontally">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {{form.postTitle(class_="input centeredHorizontally" , autocomplete="off")}}
    <br />
    {{form.postContent(class_="editor", autocomplete="off")}}
    <br />
    <button type="submit" class="btn btnPrimary">
      <span class="emoji">✅</span>
    </button>
  </form>
</div>
{% endblock body %}
