<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css') }}"
/>
<div class="navbar">
  <a href="/" class="homepageurl"><p class="btn btnLink btnHome">🥭</p></a>
  <div class="searchBar">
    <input
      type="text"
      id="searchInput"
      class="input"
      autocomplete="off"
      placeholder=""
    /><button onclick="search()" class="btn">🔍</button>
  </div>
  {% if isHome %}
  <a href="/login/redirect=&"
    ><p class="btn btnLink btnHome" style="font-size: 3rem !important;">
      🥭
    </p></a
  >
  <style>
    .navbar {
      justify-content: space-around;
      width: 19.5% !important;
      margin: 0;
    }
    .btns,
    .homepageurl,
    .searchBar,
    .searchBarPage {
      display: none;
    }
  </style>
  {% else %}
  <div class="btns">
    {% if session["userName"] %}
    <a href="/createpost">
      <button class="btn btnLink">✏️</button>
    </a>
    <a href="/user/{{session['userName'].lower()}}">
      <div class="btn btnPrimary user">
        <img
          class="profilePicture"
          src="{{ getProfilePicture(session['userName']) }}"
        />
      </div>
    </a>
    <a href="/logout" title="logout">🚪</a>
    {% elif hideLogin %} {% elif hideSignUp %}
    <a href="/login/redirect=&"><button class="btn btnLink">🚪</button></a>
    {%else%}
    <a href="/login/redirect=&"><button class="btn btnLink">🚪</button></a>
    {% endif %}
  </div>
  <div class="hamburger">
    {% if session["userName"] %}
    <a href="/user/{{session['userName'].lower()}}">
      <img
        class="profilePicture"
        src="{{ getProfilePicture(session['userName']) }}"
      />
    </a>
    <a href="/logout" title="logout">🚪</a>
    <a href="/createpost">✏️</a>
    {% elif hideLogin %}<style>
      .searchBarMobile {
        display: none;
      }
    </style>
    {% elif hideSignUp %}
    <a href="/login/redirect=&">🚪</a>
    {%else%}
    <a href="/login/redirect=&">🚪</a>
    {% endif %}
    <a href="/searchbar" class="searchBarMobile">🔍</a>
  </div>
  {% endif %}
  <script src="/static/js/navbar.js"></script>
</div>
