{% extends 'layout.html'%} {%block head%}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/post.css') }}"
/>
{% endblock head %} {%block body%}
<div class="post centeredHorizontally">
  <h1 class="title">{{title}}</h1>
  <p class="content">{{content|safe}} <br /></p>
  <div class="bottomBar">
    <div>
      <h5>👁️ {{views}}</h5>
      <a href="/user/{{author|lower}}">
        <h5 class="author">
          <img
            class="profilePicture"
            src="{{ getProfilePicture(author) }}"
          /></h5
      ></a>
    </div>
    <div class="dateTime">
      <h5><span class="emoji">⌚</span> {{time}}</h5>
      <h5 class="date"><span class="emoji">📍</span> {{date}}</h5>
    </div>
  </div>
  {% if author == session["userName"] %}
  <div class="bottomBar">
    <form method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button
        type="submit"
        class="btn btnLink textPrimary"
        name="postDeleteButton"
      >
        <span class="emoji">💣</span>
      </button>
    </form>

    <a href="/editpost/{{id}}" class="btn btnLink textPrimary"
      ><span class="emoji">🎛️</span></a
    >
  </div>
  {% endif %} {% for comment in comments %}
  <div class="comments">
    <div
      class="comment"
      style="margin-top: 2rem !important; margin-bottom: 2rem !important;"
    >
      <img class="profilePicture" src="{{ getProfilePicture(comment[3]) }}" />
      <p class="centeredHorizontally">{{comment[2]}}</p>
      {% if session["userName"] == comment[3] %}
      <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="commentID" value="{{comment[0]}}" />
        <button type="submit" name="commentDeleteButton">
          <span class="emoji">🗑️</span>
        </button>
      </form>
    </div>
    {% endif %}
    <!-- <hr style="width: 30rem;" /> -->
    {% endfor %}
  </div>
  <form method="post" class="commentForm">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    {% if session["userName"] %} {{form.comment(class_="comment")}}
    <button type="submit" class="btnSubmit" id="btnComment">
      <span class="emoji">🩺</span>
    </button>
    {% else %}
    <style>
      .commentForm {
        border: none;
      }
    </style>
    {% endif %}
  </form>
</div>
{% endblock body %}
